node_modules
npm-debug.log
.env
.env.local
.env.production
.env.development
.DS_Store
*.log
.next
out
.git
.gitignore
README.md
.vscode
.idea
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml